
#####################################################################
#   Macros
#####################################################################

[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    G28
    QUAD_GANTRY_LEVEL
    G28
    ##  Uncomment for for your size printer:
    #--------------------------------------------------------------------
    ##  Uncomment for 250mm build
    #G0 X125 Y125 Z30 F3600
    
    ##  Uncomment for 300 build
    G0 X150 Y150 Z30 F3600
    
    ##  Uncomment for 350mm build
    #G0 X175 Y175 Z30 F3600
    #--------------------------------------------------------------------
  
[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
gcode:
  #{% set max_velocity = printer.configfile.settings['printer'].max_velocity * 60 / 3 %} ; half max speed
  {% set max_velocity = printer.configfile.settings['printer'].max_velocity * 60 %}
  {% set min_velocity = 50 * 60 %}
  RESPOND MSG="==== PRINT_START ===="

  DISPLAY_ORANGE
  MD_CASELIGHT_FULL

  {% if printer.extruder.temperature < 150 %}
    M104 S150 ; dont wait for hotend to hit 150
  {% endif %}  
  M140 S{params.BED} ; set bed temp
  CLEAR_PAUSE

  {% if printer.toolhead.homed_axes != "xyz" %}      
    G28
    G90
    Clean_Nozzle
    G1 Z50 F{min_velocity}
    G1 X150 Y150 F{max_velocity}
    M190 S{params.BED} ; wait for bed temp
    {% if printer.extruder.temperature < 150 %}
      M109 S150 ; wait for hotend to hit 150
    {% endif %}
    ;TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={params.BED}
    ;TEMPERATURE_WAIT SENSOR=extruder MINIMUM=150
  
    Clean_Nozzle
    SET_GCODE_OFFSET Z=0.0
    G28
    BED_MESH_CLEAR

    ATTACH_PROBE_LOCK

    QUAD_GANTRY_LEVEL
    G28 Z
    
    G90
    G1 X260 Y310 Z10 F{min_velocity} ; somewhere near wiper
    M109 S{params.EXTRUDER} ; wait for extruder temp
    Clean_Nozzle
    G4 P10000 ; sleep 10s
    Clean_Nozzle
    G4 P10000 ; sleep 10s

    CALIBRATE_Z_BASE  

    Clean_Nozzle

    G90
    G1 Z50 F{min_velocity}
    G1 X150 Y150 F{max_velocity}
    BED_MESH_CALIBRATE ADAPTIVE=1
  
    DOCK_PROBE_UNLOCK

    Clean_Nozzle
    Clean_Nozzle
  {% else %}
    G1 X260 Y310 F{max_velocity} ; somewhere near wiper
    G1 Z10 F{min_velocity} 
    M190 S{params.BED} ; wait for bed temp

    M109 S{params.EXTRUDER} ; wait for extruder temp    
    Clean_Nozzle

    G90
    G1 Z50 F{min_velocity}
    G1 X150 Y150 F{max_velocity}
    BED_MESH_CALIBRATE ADAPTIVE=1
  
    DOCK_PROBE_UNLOCK

    Clean_Nozzle    
    Clean_Nozzle
  {% endif %}
  G90
  G92 E0

  SKEW_PROFILE LOAD=CaliFlower

  DISPLAY_RED

  G1 X150 Y150 F{max_velocity}
  LINE_PURGE
  RESPOND MSG="====================="

[gcode_macro MD_HOME_CALIBRATE]
gcode:
  {% set max_velocity = printer.configfile.settings['printer'].max_velocity * 60 %}
  {% set min_velocity = 50 * 60 %}
  DISPLAY_ORANGE
  MD_CASELIGHT_FULL
  SET_GCODE_OFFSET Z=0.0
  {% if printer.toolhead.homed_axes != "xyz" %}
    G28
  {% endif %}
  BED_MESH_CLEAR
  ATTACH_PROBE_LOCK
  {% if printer.quad_gantry_level.applied == False %}
    QUAD_GANTRY_LEVEL
  {% endif %}
  Clean_Nozzle    
  CALIBRATE_Z_BASE
  #DOCK_PROBE_UNLOCK
  #G1 X150 Y50 F{max_velocity}
  #G1 Z20 F{min_velocity}

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-2.0 F3600                 ; retract filament
    
    TURN_OFF_HEATERS
    
    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  ; park nozzle at rear
    M107                                     ; turn off fan

    SET_SKEW CLEAR=1
    BED_MESH_CLEAR
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END

    MD_CASELIGHT_LOW
    DISPLAY_GREEN
    _NOTIFY_FINISH

[gcode_macro PAUSE]
rename_existing: PAUSE_BASE
gcode:
  PAUSE_BASE
  _NOTIFY_PAUSE

[gcode_macro PARK]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    TURN_OFF_HEATERS

    G90                                      ; absolute positioning
    G0 X150 Y150 Z50 F20000  ; move nozzle to remove stringing
    M107                                     ; turn off fan

    BED_MESH_CLEAR

[delayed_gcode clear_display]
gcode:
  M117

[gcode_macro Load_Filament]
gcode:
    G91
    G1 E100 F300
    G90
    M400
    M117 Load Complete!
    UPDATE_DELAYED_GCODE ID=clear_display DURATION=10
    M104 S140

[gcode_macro Unload_Filament]
gcode:
    M104 S260 ; set extruder temp
    M109 S260 ; wait for extruder temp
    G91
    G1 E-1 F300
    G4 P5000
    G1 E-1 F300
    G4 P5000
    G1 E-1 F300
    G4 P5000
    G1 E-50 F300
    G1 E-50 F300
    G90
    M400
    M117 Unload Complete!
    UPDATE_DELAYED_GCODE ID=clear_display DURATION=10
    TURN_OFF_HEATERS

[gcode_macro HEAT_SOAK]
description: Heat soaks the machine using the bed

variable_target_temp: 0
variable_stage: None ## heating -> soaking -> done -> None

## in seconds
variable_check_interval: 10
variable_soak_time_remaining: 0
variable_total_time_elapsed: 0

gcode:
    {% set TARGET = params.TARGET | default(0) | float %}
    {% set DURATION = (params.DURATION | default(5) | int) * 60 %} ## minutes to seconds

    SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=target_temp         VALUE={ TARGET }
    SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=stage               VALUE="'heating'"
    SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=soak_time_remaining VALUE={ DURATION }
    SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=total_time_elapsed  VALUE=0

    ;; fire up the heater
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={ TARGET }

    ;; run the fan to circulate air
    _SET_FAN_SPEED PERCENT=50

    ;; put the bed and nozzle where they're a safe distance apart
    G28
    CENTER

    M84 ;; turn off steppers

    UPDATE_DELAYED_GCODE ID=heat_soaker DURATION={ check_interval }

[gcode_macro CANCEL_HEAT_SOAK]
description: Cancels an in-progress HEAT_SOAK cycle
gcode:
    SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=stage VALUE="'cancel'"
    UPDATE_DELAYED_GCODE ID=heat_soaker DURATION=1

[delayed_gcode heat_soaker]
; ## debug
; { action_respond_info( printer['gcode_macro HEAT_SOAK'] | tojson )}
gcode:
    {% set heat_soak = printer['gcode_macro HEAT_SOAK'] %}

    ## update total time elapsed
    {% set total_time_elapsed = heat_soak.total_time_elapsed + heat_soak.check_interval %}
    SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=total_time_elapsed VALUE={ total_time_elapsed }

    {% set stage = heat_soak.stage %}
    {% if stage == "heating" and printer.heater_bed.temperature >= heat_soak.target_temp %}
        {% set stage = "soaking" %}
    {% endif %}

    {% if stage == "soaking" %}
        ## update soak countdown
        {% set soak_time_remaining = [heat_soak.soak_time_remaining - heat_soak.check_interval, 0] | max %}
        SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=soak_time_remaining VALUE={ soak_time_remaining }

        {% if soak_time_remaining == 0 %}
            {% set stage = "done" %}
        {% endif %}
    {% endif %}

    SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=stage VALUE="'{ stage }'"

    {% if stage in ("done", "cancel") %}

        {% if stage == "cancel" %}
            {% set stage = "done" %}
            TURN_OFF_HEATERS
            M107 ; turn off fan

            M117 { "soak cancelled after ~%.1fm" | format(total_time_elapsed / 60.0) }
        {% else %}
            M117 { "soak complete after %.1fm" | format(total_time_elapsed / 60.0) }
        {% endif %}

        ## reset all state vars, except stage, which may be queried via the api
        SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=target_temp         VALUE=0
        SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=soak_time_remaining VALUE=0
        SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=total_time_elapsed  VALUE=0

    {% else %}

        {% if total_time_elapsed % 90 == 0 %}
            ## output status periodically
            {% if stage == "heating" %}
                M117 { "heating -- %.1fm elapsed" | format(total_time_elapsed / 60.0) }
            {% elif stage == "soaking" %}
                M117 { "soaking -- %.1fm remaining" | format(soak_time_remaining / 60.0) }
            {% endif %}
        {% endif %}

        ## trigger ourselves again
        UPDATE_DELAYED_GCODE ID=heat_soaker DURATION={ heat_soak.check_interval }

        ## dwell for 1ms to prevent from going idle
        G4 P1

    {% endif %}
